html,
body {
  height: 100%;
  margin: 0;
  background-color: #1a1a1a;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-container {
  flex-grow: 1;
  padding-top: 6em;
}

.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}