/* Root Variables */

:root {

    --main-bg: #111;
    --alt-bg: #2627273a;
    /* Text */
    --main-text: #eee;
    --alt-text: #bbb;
    --highlight: #FFAAA5;
    --highlight-hover: #ffc2bf;
    /* Other */
    --border-color: #555;
    --main-type-color: #ddd;
    --secondary-type-color: #bbb;
    --pop-type-color: #FFAAA5;
    /* Sizes */
    --p-size: .8rem;
    /* Fonts */
    --display-font: "Syne";
    --heading-font: "Inter Tight";
    --main-font: "Karla";
  }
  
  body {
    background-color: #111;
  }
  
  a {
    text-decoration: none;
    color: #ddd;
  }
  
 
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: #e5e7eb;
    /* 2 */
  }
  
  ::before,
  ::after {
    --tw-content: '';
  }
  
  
  html {
    line-height: 1.5;

    -webkit-text-size-adjust: 100%;
   
    tab-size: 4;

    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    -webkit-font-feature-settings: normal;
            font-feature-settings: normal;
   
  }
  

  
  body {
    margin: 0;
    
    line-height: inherit;

  }
  
  
  
  hr {
    height: 0;
    
    color: inherit;
   
    border-top-width: 1px;
   
  }
 
  
  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  }
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  
  b,
  strong {
    font-weight: bolder;
  }
  
 
  code,
  kbd,
  samp,
  pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 
    font-size: 1em;
 
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
 
  table {
    text-indent: 0;
    
    border-color: inherit;

    border-collapse: collapse;
  
  }
 
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
   
    font-size: 100%;
   
    font-weight: inherit;
  
    line-height: inherit;
    
    color: inherit;
   
    margin: 0;
 
    padding: 0;
    
  }
  
  button,
  select {
    text-transform: none;
  }
  
 
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;
    /* 1 */
    background-color: transparent;
    /* 2 */
    background-image: none;
    /* 2 */
  }

  
  :-moz-focusring {
    outline: auto;
  }

  
  :-moz-ui-invalid {
    box-shadow: none;
  }
  

  
  progress {
    vertical-align: baseline;
  }
  

  
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  

  
  [type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
  }
  

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
  }
  
  
  
  summary {
    display: list-item;
  }

  
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }
  
  fieldset {
    margin: 0;
    padding: 0;
  }
  
  legend {
    padding: 0;
  }
  
  ol,
  ul,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
 
  
  textarea {
    resize: vertical;
  }
  

  
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
  }
  
  input::placeholder,
  textarea::placeholder {
    opacity: 1;
    /* 1 */
    color: #9ca3af;
    /* 2 */
  }
  
  /*
  Set the default cursor for buttons.
  */
  
  button,
  [role="button"] {
    cursor: pointer;
  }
  
  
  
  :disabled {
    cursor: default;
  }
  

  
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    /* 1 */
    vertical-align: middle;
    /* 2 */
  }
  

  img,
  video {
    max-width: 100%;
    height: auto;
  }
  

  
  [hidden] {
    display: none;
  }
  
  *, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
  }
  
  ::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
  }
  
  ::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
  }
  
  .container {
    width: 100%;
  }
  
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
  
  /*================================ NAVBAR ================================*/
  
  /* Links in the sidebar */
  
  .navlink {
    /* Layout */
    width: 80%;
    margin: 0 auto;
    /* Flex Settings */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Deco */
    text-align: left;
    font-size: large;
    font-family: var(--heading-font);
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  
  .navlabel {
    font-family: var(--heading-font);
  }
  
  .nav-icon {
    /* Layout */
    margin-right: 35px;
  }
  
  .contactlink {
    padding: 10px;
    width: 55px;
  }
  

  
  .mobile-link {
    /* Layout */
    width: 65%;
    margin: 0 auto;
    height: 15vh;
    /* Flex Settings */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Deco */
    text-align: left;
    font-size: larger;
    font-family: var(--heading-font);
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  
  .mobile-social {
    margin: 0 auto;
    margin-top: 100px;
  }
  
  /*================================ PAGES ================================*/
  
  /*================================ ABOUT ================================*/
  
  /*================================ PROJECTS ================================*/
  
  /* The container that populates projects */
  
  .project-container {
    /* Layout */
    height: 94vh;
    margin: 0 auto;
    padding: 3vw;
    /* Deco */
    background-color: var(--background-color);
    border-radius: 20px;
    /* Flex Settings */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  
  /* Project cards */
  
  .project-card {
    text-align: right;
    width: 90%;
    box-shadow: 7px 7px 12px black;
    background-color: var(--alt-bg);
    margin-top: 30px;
  }
  
  .project-desc {
    padding: 20px;
    text-align: left;
    height: 12vh;
  }
  
  .title-bar {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  
  /*================================ SKILLS ================================*/
  
  .skill-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
  }
  
  .skillsection {
    /* Layout */
    width: 90%;
    height: 75vh;
    margin-bottom: 3vh;
    overflow-x: hidden;
    /* Flex Settings */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    /* Deco */
    border-radius: .5rem;
  }
  
  .ss-head {
    /* Layout */
    margin: 2rem;
    overflow-x: hidden;
    /* Deco */
    font-size: xx-large;
    font-family: var(--heading-font);
  }
  
  .skill {
    /* Layout */
    width: 35%;
    height: 13vh;
    margin: 1rem;
    /* Flex Settings */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .skill-icon {
    width: 40px;
  }
  
  /*================================ CONTACT ================================*/
  
  /*================================== MORE ==================================*/
  
  .more-section {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .more-heading {
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 2rem;
    /* Decoration */
    font-family: var(--heading-font);
  }
  
  /* =============================== SITEWIDE =============================== */
  
  .sectionheading {
    background-color: var(--alt-bg);
    width: 100%;
    font-size: xx-large;
    text-align: center;
    padding: 5px;
    font-family: var(--heading-font);
  }
  
  .fixed {
    position: fixed;
  }
  
  .m-10 {
    margin: 2.5rem;
  }
  
  .m-4 {
    margin: 1rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .ml-4 {
    margin-left: 1rem;
  }
  
  .mt-20 {
    margin-top: 5rem;
  }
  
  .mb-10 {
    margin-bottom: 2.5rem;
  }
  
  .mb-20 {
    margin-bottom: 5rem;
  }
  
  .mt-12 {
    margin-top: 3rem;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .flex {
    display: flex;
  }
  
  .hidden {
    display: none;
  }
  
  .aspect-square {
    aspect-ratio: 1 / 1;
  }
  
  .h-screen {
    height: 100vh;
  }
  
  .h-16 {
    height: 4rem;
  }
  
  .h-1\/3 {
    height: 33.333333%;
  }
  
  .h-1\/2 {
    height: 50%;
  }
  
  .h-full {
    height: 100%;
  }
  
  .h-\[800px\] {
    height: 800px;
  }
  
  .h-auto {
    height: auto;
  }
  
  .w-5\/6 {
    width: 83.333333%;
  }
  
  .w-1\/6 {
    width: 16.666667%;
  }
  
  .w-2\/3 {
    width: 66.666667%;
  }
  
  .w-full {
    width: 100%;
  }
  
  .w-8 {
    width: 2rem;
  }
  
  .w-14 {
    width: 3.5rem;
  }
  
  .w-\[200px\] {
    width: 200px;
  }
  
  .w-6 {
    width: 1.5rem;
  }
  
  .w-32 {
    width: 8rem;
  }
  
  .w-\[25px\] {
    width: 25px;
  }
  
  .grow {
    flex-grow: 1;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-col-reverse {
    flex-direction: column-reverse;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .justify-evenly {
    justify-content: space-evenly;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .overflow-y-auto {
    overflow-y: auto;
  }
  
  .overflow-x-hidden {
    overflow-x: hidden;
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .rounded-md {
    border-radius: 0.375rem;
  }
  
  .border {
    border-width: 1px;
  }
  
  .border-b-2 {
    border-bottom-width: 2px;
  }
  
  .border-r-2 {
    border-right-width: 2px;
  }
  
  .border-l-2 {
    border-left-width: 2px;
  }
  
  .border-stone-700 {
    --tw-border-opacity: 1;
    border-color: rgb(68 64 60 / var(--tw-border-opacity));
  }
  
  .bg-main-bg {
    --tw-bg-opacity: 1;
    background-color: rgb(17 17 17 / var(--tw-bg-opacity));
  }
  
  .bg-highlight {
    --tw-bg-opacity: 1;
    background-color: rgb(255 170 165 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#333\] {
    --tw-bg-opacity: 1;
    background-color: rgb(51 51 51 / var(--tw-bg-opacity));
  }
  
  .p-3 {
    padding: 0.75rem;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .p-2 {
    padding: 0.5rem;
  }
  
  .pl-12 {
    padding-left: 3rem;
  }
  
  .pr-12 {
    padding-right: 3rem;
  }
  
  .pl-8 {
    padding-left: 2rem;
  }
  
  .pr-8 {
    padding-right: 2rem;
  }
  
  .pt-4 {
    padding-top: 1rem;
  }
  
  .pb-4 {
    padding-bottom: 1rem;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  
  .font-main {
    font-family: "Karla";
  }
  
  .font-display {
    font-family: "Syne";
  }
  
  .font-heading {
    font-family: "Inter Tight";
  }
  
  .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  
  .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  
  .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .italic {
    font-style: italic;
  }
  
  .tracking-wide {
    letter-spacing: 0.025em;
  }
  
  .text-main-text {
    --tw-text-opacity: 1;
    color: rgb(238 238 238 / var(--tw-text-opacity));
  }
  
  .text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }
  
  .text-highlight {
    --tw-text-opacity: 1;
    color: rgb(255 170 165 / var(--tw-text-opacity));
  }
  
  .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .underline {
    text-decoration-line: underline;
  }
  
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  
  .duration-500 {
    transition-duration: 500ms;
  }
  
  /* Tailwind Component Classes */
  
  /*================================ SCROLLBAR ================================*/
  
  ::-webkit-scrollbar {
    width: .4vw;
  }
  
  ::-webkit-scrollbar-track {
    background: #444;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 10px;
  }
  
  /* TEST */
  
  .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: rotate360 60s infinite forwards linear;
            animation: rotate360 60s infinite forwards linear;
  }
  
  .carousel__face {
    position: absolute;
    width: 150px;
    height: 140px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
  }
  
  div span {
    margin: auto;
    font-size: 2rem;
  }
  
  .carousel__face:nth-child(1) {
    background-image: url("./assets/skills/express.svg");
    -webkit-transform: rotateY(0deg) translateZ(430px);
            transform: rotateY(0deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(2) {
    background-image: url("./assets/skills/javascript.svg");
    -webkit-transform: rotateY(40deg) translateZ(430px);
            transform: rotateY(40deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(3) {
    background-image: url("./assets/skills/express.svg");
    -webkit-transform: rotateY(80deg) translateZ(430px);
            transform: rotateY(80deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(4) {
    background-image: url("./assets/skills/express.svg");
    -webkit-transform: rotateY(120deg) translateZ(430px);
            transform: rotateY(120deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(5) {
    background-image: url("./assets/skills/express.svg");
    -webkit-transform: rotateY(160deg) translateZ(430px);
            transform: rotateY(160deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(6) {
    background-image: url("./assets/skills/express.svg");
    -webkit-transform: rotateY(200deg) translateZ(430px);
            transform: rotateY(200deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(7) {
    background-image: url("./assets/skills/express.svg");
    -webkit-transform: rotateY(240deg) translateZ(430px);
            transform: rotateY(240deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(8) {
    background-image: url("./assets/skills/express.svg");
    -webkit-transform: rotateY(280deg) translateZ(430px);
            transform: rotateY(280deg) translateZ(430px);
  }
  
  .carousel__face:nth-child(9) {
    background-image: url("./assets/skills/express.svg  ");
    -webkit-transform: rotateY(320deg) translateZ(430px);
            transform: rotateY(320deg) translateZ(430px);
  }
  
  @-webkit-keyframes rotate360 {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  
    to {
      -webkit-transform: rotateY(-360deg);
              transform: rotateY(-360deg);
    }
  }
  
  @keyframes rotate360 {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  
    to {
      -webkit-transform: rotateY(-360deg);
              transform: rotateY(-360deg);
    }
  }
  
  .hover\:navhover:hover {
    color: var(--pop-type-color);
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  
  .hover\:resume-hover:hover {
    background-color: var(--highlight-hover);
    border-radius: 5px;
  }
  
  .hover\:-translate-y-1:hover {
    --tw-translate-y: -0.25rem;
    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hover\:scale-\[1\.02\]:hover {
    --tw-scale-x: 1.02;
    --tw-scale-y: 1.02;
    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
  .hover\:border-\[\]:hover {
    border-color: ;
  }
  
  .hover\:border-\[\{\}\]:hover {
    border-color: {};
  }
  
  .hover\:border-\[\`\`\]:hover {
    border-color: ``;
  }
  
  .hover\:border-\[\#000\]:hover {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
  }
  
  .hover\:border-\[\$\{\}\]:hover {
    border-color: ${};
  }
  
  .hover\:bg-gm-red:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(200 58 45 / var(--tw-bg-opacity));
  }
  
  .hover\:bg-li-blue:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(10 102 194 / var(--tw-bg-opacity));
  }
  
  .hover\:bg-gh-grey:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(68 68 68 / var(--tw-bg-opacity));
  }
  
  @media (min-width: 640px) {
    .sm\:w-\[375px\] {
      width: 375px;
    }
  
    .sm\:text-6xl {
      font-size: 3.75rem;
      line-height: 1;
    }
  
    .sm\:text-2xl {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  
  @media (min-width: 768px) {
    .md\:header-border {
      border-right: 1px solid var(--border-color)
    }
  
    .md\:m-0 {
      margin: 0px;
    }
  
    .md\:mb-10 {
      margin-bottom: 2.5rem;
    }
  
    .md\:project-container-md {
      /* Layout */
      height: 92vh;
      margin: 0 auto;
      padding: 3vw;
      overflow-y: auto;
      overflow-x: hidden;
      /* Deco */
      background-color: var(--background-color);
      border-radius: 20px;
      /* Flex Settings */
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .md\:block {
      display: block;
    }
  
    .md\:flex {
      display: flex;
    }
  
    .md\:more-section-r {
      /* Layout */
      width: 100%;
      text-align: right;
      padding-top: 50px;
      /* Flex Settings */
      display: flex;
      flex-direction: column;
    }
  
    .md\:more-section-l {
      /* Layout */
      width: 100%;
      text-align: left;
      padding-top: 50px;
      /* Flex Settings */
      display: flex;
      flex-direction: column;
    }
  
    .md\:hidden {
      display: none;
    }
  
    .md\:more-heading-md {
      /* Layout */
      /* Decoration */
      font-size: 4rem;
      font-family: var(--heading-font);
    }
  
    .md\:h-auto {
      height: auto;
    }
  
    .md\:sectionheading-md {
      margin-top: 0;
      padding: 1rem;
      width: 100%;
      border-bottom: 1px solid var(--border-color);
      font-size: x-large;
      text-align: left;
      display: flex;
      font-family: var(--heading-font);
    }
  
    .md\:w-64 {
      width: 16rem;
    }
  
    .md\:w-full {
      width: 100%;
    }
  
    .md\:w-auto {
      width: auto;
    }
  
    .md\:heading-icon {
      margin-right: 15px;
      width: 25px;
    }
  
    .md\:w-1\/4 {
      width: 25%;
    }
  
    .md\:min-w-\[16rem\] {
      min-width: 16rem;
    }
  
    @-webkit-keyframes slideX {
      0% {
        -webkit-transform: translateX(80%);
                transform: translateX(80%);
        opacity: 0%;
      }
  
      45% {
        opacity: 0%;
      }
  
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 100%;
      }
    }
  
    @keyframes slideX {
      0% {
        -webkit-transform: translateX(80%);
                transform: translateX(80%);
        opacity: 0%;
      }
  
      45% {
        opacity: 0%;
      }
  
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 100%;
      }
    }
  
    .md\:animate-slideX {
      -webkit-animation: slideX .3s ease-out;
              animation: slideX .3s ease-out;
    }
  
    @keyframes slideX {
      0% {
        -webkit-transform: translateX(80%);
                transform: translateX(80%);
        opacity: 0%;
      }
  
      45% {
        opacity: 0%;
      }
  
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 100%;
      }
    }
  
    .md\:animate-slideX2 {
      -webkit-animation: slideX .5s ease-out;
              animation: slideX .5s ease-out;
    }
  
    @-webkit-keyframes slideXL {
      0% {
        -webkit-transform: translateX(-80%);
                transform: translateX(-80%);
        opacity: 0%;
      }
  
      45% {
        opacity: 0%;
      }
  
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 100%;
      }
    }
  
    @keyframes slideXL {
      0% {
        -webkit-transform: translateX(-80%);
                transform: translateX(-80%);
        opacity: 0%;
      }
  
      45% {
        opacity: 0%;
      }
  
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 100%;
      }
    }
  
    .md\:animate-slideXL2 {
      -webkit-animation: slideXL .5s ease-out;
              animation: slideXL .5s ease-out;
    }
  
    @keyframes slideXL {
      0% {
        -webkit-transform: translateX(-80%);
                transform: translateX(-80%);
        opacity: 0%;
      }
  
      45% {
        opacity: 0%;
      }
  
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 100%;
      }
    }
  
    .md\:animate-slideXL3 {
      -webkit-animation: slideXL .7s ease-out;
              animation: slideXL .7s ease-out;
    }
  
    @keyframes slideX {
      0% {
        -webkit-transform: translateX(80%);
                transform: translateX(80%);
        opacity: 0%;
      }
  
      45% {
        opacity: 0%;
      }
  
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 100%;
      }
    }
  
    .md\:animate-slideX3 {
      -webkit-animation: slideX .7s ease-out;
              animation: slideX .7s ease-out;
    }
  
    @keyframes slideX {
      0% {
        -webkit-transform: translateX(80%);
                transform: translateX(80%);
        opacity: 0%;
      }
  
      45% {
        opacity: 0%;
      }
  
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 100%;
      }
    }
  
    .md\:animate-slideX4 {
      -webkit-animation: slideX .9s ease-out;
              animation: slideX .9s ease-out;
    }
  
    @keyframes slideXL {
      0% {
        -webkit-transform: translateX(-80%);
                transform: translateX(-80%);
        opacity: 0%;
      }
  
      45% {
        opacity: 0%;
      }
  
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 100%;
      }
    }
  
    .md\:animate-slideXL4 {
      -webkit-animation: slideXL .9s ease-out;
              animation: slideXL .9s ease-out;
    }
  
    @keyframes slideXL {
      0% {
        -webkit-transform: translateX(-80%);
                transform: translateX(-80%);
        opacity: 0%;
      }
  
      45% {
        opacity: 0%;
      }
  
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 100%;
      }
    }
  
    .md\:animate-slideXL {
      -webkit-animation: slideXL .3s ease-out;
              animation: slideXL .3s ease-out;
    }
  
    .md\:flex-row {
      flex-direction: row;
    }
  
    .md\:flex-col {
      flex-direction: column;
    }
  
    .md\:items-start {
      align-items: flex-start;
    }
  
    .md\:p-5 {
      padding: 1.25rem;
    }
  
    .md\:pt-10 {
      padding-top: 2.5rem;
    }
  
    .md\:pr-32 {
      padding-right: 8rem;
    }
  
    .md\:pl-32 {
      padding-left: 8rem;
    }
  
    .md\:pt-96 {
      padding-top: 24rem;
    }
  
    .md\:text-6xl {
      font-size: 3.75rem;
      line-height: 1;
    }
  
    .md\:text-3xl {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  
    .md\:text-2xl {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  
    .md\:hover\:project-card-hover:hover {
      -webkit-transform: translateY(-1%);
              transform: translateY(-1%);
      box-shadow: 0px 0px 20px #666;
    }
  }
  
  @media (min-width: 1280px) {
    .xl\:project-card-md {
      width: 46%;
      /* Flex Settings */
      display: flex;
      justify-content: space-around;
      align-items: center;
      /* Deco */
      text-align: center;
      box-shadow: 7px 7px 12px black;
      background-color: var(--alt-bg);
      border-radius: .5rem;
      /* Transitions */
      transition: all .2s ease-in-out;
    }
  
    .xl\:project-desc-md {
      /* Layout */
      /* Flex Settings */
      display: flex;
      justify-content: start;
      flex-direction: column;
      overflow: auto;
    }
  }